.mySwiper {
  max-width: 100rem;
  margin: 0 auto;
}
.swiper-slide {
  width: 100%;
  height: 40rem;
  overflow: hidden;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-arrow {
  color: #fff;
}
.swiper-pagination-bullet {
  display: inline-block;
  background-color: #fff;
}
.swiper-pagination-bullet-active {
  display: inline-block;
  background-color: #fff;
}
@media screen and (max-width: 770px) {
  .slider-arrow {
    display: none;
  }
}
