.section-projects {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.slide-container {
  background-color: red;
  height: 50rem;
  margin-right: 10rem;
  margin-left: 10rem;
}
.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn-arrow {
  background-color: red;
  height: 10rem;
  width: 5rem;
}
.custom-right-arrow {
  font-size: 2rem;
  color: red;
}
.custom-dot-list-style {
  border: none;
  color: red;
}
