.projects-container {
  max-width: 70rem;
  margin: 0 auto;
}
.container-slider {
  width: 100%;
  height: 40rem;
  overflow: hidden;
  margin-bottom: 2rem;
  position: relative;
}
.slide {
  width: 100%;
  position: absolute;
  inset: 0;
  transition: all 1s ease-in-out;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: left 50%; */
}
.btn-slide {
  position: absolute;

  border: none;
  display: flex;

  align-items: center;

  background-color: #ffffff70;
  height: 100%;
  cursor: pointer;
}

.arrow {
  font-size: 5rem;

  color: black;

  pointer-events: none;
}
.arrow:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}
/* .btn-slide:focus {
  outline: 0.4px solid #fff;
} */

.next {
  right: 0;
}
.container-dots {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.052);

  margin: 0 5px;
  position: relative;
}

.dot.active {
  background: #fff;
  border: 2px solid #fff;
}
.project-icon {
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
}
.poject-details {
  margin-bottom: 15rem;
}

.project-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.project-sub-title {
  font-size: 1.38rem;
  margin-right: 0.8rem;
}
.project-logo {
  height: 2rem;

  margin-right: 1rem;
}
.project-description {
  max-width: 70rem;
}
.project-location {
  font-size: 1rem;
  font-weight: 200;
}
/* tablet and mobile */
@media screen and (max-width: 770px) {
  .btn-slide {
    display: none;
  }
  .slide {
    transition: all 0.3s;
  }
}

@media screen and (max-width: 450px) {
  .project-title {
    padding-left: 2rem;
  }
}
