.contact-content {
  overflow: hidden;
}
.grid {
  display: grid;
  gap: 3rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.contactus-text {
  font-size: 3rem;
  color: #222;
}
.contactus-text span {
  font-weight: 300;
}

.contact-list {
  list-style: none;
  width: 100%;
  margin: 1.5rem;
}

.contact-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}
.contact-items:first-child {
  margin: 1.5rem 0 5rem 0;
}
.contact-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #222;
}

.contact-item {
  font-size: 1.8rem;
  margin-left: 1.5rem;
  font-weight: 300;
  transition: all 0.2s ease-in-out;
}
.contact-item:hover {
  font-weight: 400;
}
.contact-item-green:hover {
  color: var(--green);
}
.contact-icon {
  font-size: 2rem;
  margin-left: 1rem;
  color: #222;
}

.contact-icon-insta {
  font-size: 1.7rem;
}
.contact-icon-insta-green {
  color: var(--green);
}

.pobox {
  margin-top: 0.5rem;
}

.form-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  padding: 0 4rem;
}

.form-container input,
.form-container textarea {
  text-align: center;
  font-family: inherit;
}
.form-container input {
  border-radius: none;
  background-color: none;
}

.form-container textarea {
  width: 100%;
  padding-top: 2rem;
  margin: 5rem 0;
  border: 2px solid black;
  border-radius: 0.3rem;
}

.searchfield {
  padding: 1rem;
  border: none;
  font-size: 1.4rem;
  color: #222;
  border-radius: none;
  width: 80%;
  border-bottom: 2px solid black;
  transition: all 0.5s;
}
.searchfield:hover {
  width: 100%;
}

.btn-form {
  align-self: center;
  padding: 1rem 2rem;
  width: 70%;
  height: 5rem;
  font-family: inherit;
  font-size: 1.6rem;

  color: #222;
  background-color: #fff;
  border: 2px solid #222;

  letter-spacing: 3px;

  font-weight: 500;
  transition: all 0.2s ease-in;
}
.btn-form:hover {
  background-color: #222;
  color: #fff;
}
.contact-content {
  margin-top: 21rem;
}

@media screen and (max-width: 1100px) {
  .contact-content {
    margin-top: 15rem;
  }
}
@media screen and (max-width: 1000px) {
  .contact-content {
    margin-top: 0;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .contact-list {
    padding: 0 1rem;
  }
  .contact-item {
    font-size: 1.6rem;
    font-weight: 300;
  }
  .form-container {
    margin-bottom: 5rem;
  }
  .form-container h1 {
    font-size: 2.3rem;
    font-weight: 400;
  }
  .btn-form {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 770px) {
  .contact-item {
    font-size: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .contact-section {
    padding-top: 12rem;
  }
  .contact-icon {
    margin-left: 1.5rem;
  }
  .form-container {
    padding: 0 2rem;
  }
}
