.grid {
  display: grid;
  gap: 3rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.contact-list {
  list-style: none;
  width: 100%;
  margin-left: 1.5rem;
}

.contact-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
}
.contact-items:first-child {
  margin: 1.5rem 0 5rem 0;
}
.contact-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #222;
}

.contact-item {
  font-size: 1.8rem;
  margin-left: 1.5rem;
  font-weight: 300;
  transition: all 1s ease-in-out;
}
.contact-link:hover {
  font-weight: 500;
}
.contact-icon {
  font-size: 2rem;
  color: #222;
}
.contact-icon-insta {
  font-size: 1.7rem;
  color: #222;
}
.pobox {
  margin-top: 0.5rem;
}

.form-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  padding: 0 4rem;
}
/* .form-container h1 {
  margin-bottom: 3rem;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  align-self: flex-start;
} */
.form-container input,
.form-container textarea {
  text-align: center;
  width: 100%;
  font-family: inherit;
}
.form-container textarea {
  padding-top: 2rem;
  border: 1.5px solid black;
}
.searchfield {
  padding: 1rem;
  border: none;
  font-size: 1.6rem;
  color: #222;
  border-bottom: 2px solid black;

  transition: all 0.5s;
}
.searchfield:hover {
  width: 130%;
}

.btn-form {
  align-self: flex-start;
  padding: 1rem 2rem;
  width: 100%;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  background-color: #222;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 400;
}
.btn-form:hover {
  color: #222;
  background-color: none;
  border: 1.4px solid #222;
}
@media screen and (max-width: 770px) {
  .grid--2-cols {
    grid-template-columns: 1fr;
  }
  .contact-list {
    padding: 0 1rem;
  }
  .contact-item {
    font-size: 2rem;
    font-weight: 300;
  }
  .form-container {
    min-width: 90%;
  }
  .form-container h1 {
    font-size: 2.3rem;
    font-weight: 400;
  }
  .btn-form {
    font-size: 1.6rem;
  }
}
