.container {
  max-width: 120rem;
  margin: 0 auto;
}
.section {
  margin-left: 35rem;
}
.primary-headline {
  text-transform: uppercase;
  font-weight: 200;
  text-align: center;
  font-size: 3.8rem;
  margin-bottom: 8rem;
}
.bodytext {
  font-size: 1.8rem;
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: #4b4b4b;
}
.section--reveal {
  opacity: 1;
  overflow: hidden;
  transition: transform 1s, opacity 1s;
}
.section--hidden,
.section--hidden-left,
.section--hidden-right {
  opacity: 0;
  transform: translateY(20rem);
}
@media screen and (max-width: 1100px) {
  .section {
    margin-left: 25rem;
  }
}
@media screen and (max-width: 770px) {
  .section {
    padding-top: 11rem;
    margin-left: 0;
  }
}
/* query selector: 1100 / 770 / 550 / 450 */
